@using GleamTech.ExamplesCore
@using GleamTech.Web.Mvc
@model GleamTech.VideoUltimateExamples.Mvc.CS.Models.OverviewViewModel

<!DOCTYPE html>

<html>
<head>
    <title>Overview</title>
    <link href="@ExamplesCoreConfiguration.GetVersionedUrl("~/resources/table.css")" rel="stylesheet" />
</head>
<body style="margin: 20px;">

    @Html.RenderControl(Model.ExampleFileSelector)

    <table class="info">
        <caption>Smart Thumbnail</caption>
        <tr>
            <td><img src="@Model.ThumbnailUrl" /></td>
        </tr>
    </table>

    <table class="info">
        <caption>Video Info</caption>
        @foreach (var kvp in Model.VideoInfo) {
        <tr>
            <th>@kvp.Key</th>
            <td>@kvp.Value</td>
        </tr>
        }
    </table>

    <table class="info">
        <caption>Video Metadata</caption>
        @foreach (var kvp in Model.VideoMetadata) {
        <tr>
            <th>@kvp.Key</th>
            <td>@kvp.Value</td>
        </tr>
        }
    </table>

</body>
</html>
